# Node Enviroment configs
NODE_ENV='development'
PORT='5000'

# JWT Configurations
JWT_SECRET='oMbHt4N6Poqthis64f9sOKeisO7GENtNp0nQrS2qgeneratorFoeEFqBPyF2YiasDj0YE7kKlkuVSnOrrandom'
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=2h

### Database Configurations
POSTGRES_HOST=3.28.198.226
POSTGRES_PORT=5431
POSTGRES_USER=postgres
POSTGRES_PASSWORD="Black!#%St0ne"
POSTGRES_DB=idms
DB_SCHEMA=idms

### Sendgrid Configurations
SENDGRID_API_KEY='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'

